<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static',filename='/style1.css') }}">
  <link
    href="https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Fascinate+Inline&family=Fuzzy+Bubbles&family=Monoton&family=Rubik+Moonrocks&display=swap"
    rel="stylesheet">
  <body>
    
    <div class="block">
      <div class="innerblock">
    <h1>Hai, Ready To create A New story ?</h1>
    
    <form action="/date" method="POST">
      <label for="date">Select Date</label> <br>
        <input type="date" id="date" name="date">
        <label for="date">Today</label>
        <br>
        <div class="go">
          <!-- <button class="icon-left"><img src="../static/Images/left-arrow.png" width="56" height="56"></button> -->
          <button class="icon-right"><img src="../static/Images/next-button.png" width="56" height="56"></button>
        </div>
        
        
        
    </form>
    </div>
    </div>
    </div>



  </body>
</html>