<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static',filename='/style3.css') }}">
<link
    href="https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Fascinate+Inline&family=Fuzzy+Bubbles&family=Monoton&family=Rubik+Moonrocks&display=swap"
    rel="stylesheet">
  <body>
    <div class="mainblock">
    <h1>Tell how was your day ?</h1>
    <form action="/text" method="POST">
        <input type="text" name="text" style="height:100px;width:400px;"><br>

        <label>Add image</label><br>
        <input type="file" name="file" id="file" accept="image/*" onchange="previewImage();">
        <img id="preview">
        <button type="submit" name="submit" value="text">Finish</button>
    </form>
    </div>
    <script>
        function previewImage() {
            var file = document.getElementById("file").files;
            if (file.length > 0) {
                var fileReader = new FileReader();
     
                fileReader.onload = function (event) {
                    document.getElementById("preview").setAttribute("src", event.target.result);
                    document.getElementById("preview").setAttribute("width", 500);

                };
     
                fileReader.readAsDataURL(file[0]);
            }
        }
    </script>
    

  </body>
</html>